.payment-page{
    margin-bottom: 50px;
}
.h2-payment-title {
    color: #5A96C8;
}
.checkout-order-review {
    padding: 15px;
    background-color: #F8F8F8;
}
.payment-box {
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.payment-box .payment-method{
    padding: 15px;
}
/* .payment-code {
    background-color: #F8F8F8;
    padding: 15px;
} */
.payment-method>label{
    margin:0;
}
/* .payment-code>p{
    margin: 0;
} */
.payment-box i{
    font-size: 50px;
    color: #5A96C8;
}
.payment-method .optional-payment-method>div{
    display: inline-block;
}
.optional-payment-method .by-cash-transfer:last-child{
    margin-left: 15px;
}
.payment-title{
   margin-bottom: 15px;
}
.payment-title>h3{
    margin: 0;
}
.summary-prods-list{
    overflow:auto;
    max-height:300px;
    width:100%;
}
.order-summary-discount {
    margin-top: 15px;
    padding: 10px 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.order-summary-discount .form-group{
    margin-bottom: 0;
}
.order-summary-total {
    border-bottom: 1px solid #DDD;
    padding: 10px 0;
}
.checkout-item td:first-child{
    width: 50px;
    height: 50px;
    position: relative;
}
.checkout-item td:last-child{
    white-space: nowrap;
}
.checkout-item .product-thumbnail__quantity {
    position: absolute;
    top:2px;
    right: 2px;
    padding:0px 4px;
    border-radius: 50%;
    background-color:#5A96C8;
    color:#FFF;
    font-size: 0.78em;
    white-space: nowrap;
}

.form-payment-order{
    margin: 15px 0;
}

.transferring-method{
    margin: 20px 0;
}
.input-100{
    width: 100px;
}
@media only screen and (max-width: 991px){
   
}

@media only screen and (max-width: 767px){
    .payment-box {
        margin-bottom: 20px;
    }

    .order-summary-discount,.payment-title,.h2-payment-title{
        text-align: center;
    }
    
    .payment-title{
        margin-bottom: 0;
    }

    .payment-title>*, .order-summary-discount >*{
        float: none !important;
    }

    .order-summary-discount .btn-apply{
        margin-top: 10px;
    }
    
    .login-link {
        display: inline-block;
        margin:10px 0;
    }
   
}

@media only screen and (max-width: 320px){
    .payment-method .optional-payment-method>.by-cash-transfer{
        font-size: 12px;

    }
}
