.shop-cart-item{
    margin: 30px 0px;
}

.shop-cart-item .shop-cart-table p,
.shop-cart-item .shop-table p{
    margin: 0;
}

.shop-cart-table{
    table-layout: fixed ;
    width: 100% ;
    border-collapse:separate; 
    border-spacing: 0 1em;
}

.shop-cart-table >tbody>tr>td:nth-child(2),
.shop-cart-table >tbody>tr>td:nth-child(4){
    background-color: #F9F7F8;
    font-weight: 700;
}

.shop-cart-table >tbody>tr>td:nth-child(1),
.shop-cart-table >tbody>tr>td:nth-child(3)
{
    background-color: #ECC777;
    color: #fff;
}

.shop-cart-table,.billing-info-table,
.shop-cart-table >tbody>tr>td,
.billing-info-table >tbody>tr>td{
    border: none !important;
}

.billing-info-table >tbody>tr>td{
    padding: 5px 0 !important;
}

.billing-info-table >tbody>tr>td:nth-child(n+2){
    text-align: right;
}

.shop-cart-item .total-price-text{
    text-align: right;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.shop-cart-item .link-direct{
    display: flex;
    overflow: hidden;
    margin: 1em 0;
    align-items: center;
}
.shop-cart-item .link-direct>div:first-child{
    margin-right: auto;
}
@media only screen and (max-width: 767px){
    .shop-cart-item .link-direct{
        display: inline;
        text-align: center;
    }
}

@media only screen and (max-width: 575px){
    .shop-cart-table >tbody>tr>td{
        width: 80%;
        display: block;
        padding: 5px !important;
        text-align: center;
        margin: 0 auto;
    }
    
    .shop-cart-table {
        border-spacing: 0;
    }
}