body {
    font-family: "Roboto","Arial", sans-serif;
    font-size: 14px;
    color: #434343;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus{
    outline: 0;
    text-decoration: none;
}

button:focus{
    outline: 0;
}

.transition-img{
    display: inline-block;
    overflow: hidden;
}

.transition-img img{
    transition: all .5s ease;
}

.transition-img:hover img {
    transform: scale(1.1);
}

.product-item {
    margin-bottom: 20px;
}

.product-item .img-item{
    position: relative;
    text-align: center;
}

.product-item .content-item{
    margin: 15px 0;
    text-align: center;
}

.product-item .content-item .price{
    margin:15px 0;
    font-size: 16px;
    font-weight: 600;
    color:#f2b111;
}

.product-item .content-item>a{
    color: #181f49;
    text-align:center;
}

.product-item .content-item>a:hover{
    opacity: 0.7;
}

.flex-element {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.mg-60{
    margin:60px 0;
}

.mg-30{
    margin:30px 0;
}

.pd-60{
    padding:60px 0;
}

.pd-30{
    padding: 30px 0;
}

/* Header */
.header-container{
    background-color: #FFF;    
    border-bottom: 1px solid;
    border-color: rgba(129,129,129,.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.04), 0 3px 5px rgba(0,0,0,0.02);
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 15;
}

.top-menu{
    position: relative;
    padding: 10px 0;
}

.top-menu .logo{
    display: inline-block;
}

.navbar-menu {
    position: relative;
    margin: 0;
    padding:20px 0;
    border-top: 1px solid #DDD;
}

.navbar-menu .logo {
    display: inline-block;
}

.navbar-nav > li {
    padding: 0 10px;
}

.navbar-nav > li> a {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #434343;
}

.navbar-nav > li:hover>a{
    color: #f2b111;
}

.submenu {
    display: none;
    top:40px;
    position: absolute;
    z-index: 998;
    width: 300px;
    font-size: 90%;
    background-color: #d49300;
    color: #FFFFFF;
    padding: 0 15px;
}

.submenu>li>a {
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #DDD;
    color: #FFF;
    text-transform: uppercase;
}

.submenu>li>a:hover {
    color: #434343;
}

.nav-item:hover .submenu{
    display: block;
}

.mobile-bar{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 15px;
}

.mobile-menu{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #434343;
  opacity: 0.8;
  overflow-x: hidden;
  transition: 0.5s linear;
  -moz-transition: 0.5s linear; /* Firefox 4 */
  -webkit-transition: 0.5s linear; /* Safari and Chrome */
  -o-transition: 0.5s linear; /* Opera */
  -ms-transition: 0.5s linear; /* Explorer 10 */
  padding-top: 15px;
}

.mobile-menu ul, .mobile-menu ul li{
    width: 100%;
}

.mobile-menu ul li a {
    font-size: 14px;
    line-height: 14px;
    color: #f2b111;
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
}

.mobile-list .fa-angle-down::before{
    color: #FFF;
    cursor: pointer;
}

.mobile-list i.active:before {
    content: "\f105";
}

.mobile-list-level2>li {
    padding-left: 15px;
}

.mobile-list-level3>li{
    padding-left: 20px;
}

.mobile-menu .closebtn {
    color: #FFF;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
}

/* Banner */

.slide-banner{
    position: relative;
}

.banner .owl-carousel .owl-nav>button{
    opacity: 1;
    visibility: visible;
    border: 1px solid;
    width:3em;
    height:3em;
    position: absolute;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform:    translate(-50%,-50%);
    -ms-transform:     translate(-50%,-50%);
    -o-transform:      translate(-50%,-50%);
    transform:         translate(-50%,-50%);
}

.banner .owl-carousel .owl-nav>button:hover{
    opacity: 0.8;
    background-color: aliceblue;
    border-color: aliceblue;
}

.banner .owl-carousel .owl-nav>button:focus{
    outline: 0;
}

.banner .owl-carousel .owl-nav .owl-prev{
    left:40px;
}

.banner .owl-carousel .owl-nav .owl-next {
    right: 0;
}

.owl-nav i::before{
    font-size: 18px;
}

.heading-title{
    text-align: center;
}

.heading-title h1,
.heading-title h2,
.heading-title h3 {
    text-shadow: 0px 0px 0px #b2a98f, 0px 10px 10px rgba(0,0,0,0.15), 0px 7px 3px rgba(0,0,0,0.1), 0px 17px 19px rgba(0,0,0,0.1);
}

.heading-title a {
    text-transform: uppercase;
    color: #434343;
    font-weight: 600;
}

.bt-solid{
    border-top: 1px solid #434343;
    width: 150px;
    margin: auto;
}

:-webkit-input-placeholder { /* Edge */
    color:#CCC;
  }
  
:-ms-input-placeholder { /* Internet Explorer */
    color: #CCC;
}

::placeholder {
    color: #CCC;
}

.custom-owl-carousel {
    margin: 30px 0;
}

.custom-owl-carousel .owl-item {
    display: inline-block;
}

.owl-stage-outer{
    position: relative;
    overflow: hidden;
}

.custom-owl-carousel{
    position: relative;
}

.custom-owl-carousel .owl-nav > button i::before{
    color: #f2b111;
}

.custom-owl-carousel .owl-nav > button:focus{
    outline: 0
}

.custom-owl-carousel .owl-nav .owl-prev{
    left: -50px;
}

.custom-owl-carousel .owl-nav .owl-next{
    right: -50px;
}

.custom-owl-carousel .owl-nav button.owl-next, 
.custom-owl-carousel .owl-nav button.owl-prev {
    border: 1px solid #f2b111;
    opacity: 0;
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; /* Firefox 4 */
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -o-transition: all 0.5s ease; /* Opera */
    -ms-transition: all 0.5s ease; /* Explorer 10 */
}

.custom-owl-carousel:hover .owl-nav > button{
    opacity: 1;
}

/* outstanding-products */
.outstanding-products {
    margin: 50px 0;
}

.outstanding-products-list .product-item .content-item , 
.outstanding-products-list .product-item .content-item a{
    color: #434343;
    text-align: center;
    font-size: 15px;
}
/* about-customers */
.about-services, .about-customers {
    margin: 50px 0;
}

.customers-item {
    text-align: right;
}

.customers-item .customers-profile {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 4px solid rgba(171, 220, 225, 0.3);
    border-radius: 50%;
    float: left;
}

.customers-item .customers-desc {
    text-align: justify;
}

.customers-item .customers-desc a {
    color: #eacd7f;
}

.customers-item .customers-desc a:hover{
    color:#f2b111;
}

.customers-item .label-name{
    background-color: #EEE;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
    line-height: 32px;
}

/* about-media */
.about-media {
    margin: 50px 0;
}

.media-item {
    text-align: center;
}

.media-item p {
    margin: 10px 0;
}

.media-item .media-view-more {
    float: right;
    color: #434343;
    font-style: italic;
}

.media-item .media-view-more:hover{
    color: #f2b111;
}

/* other-information */
.about-brands, .list-blogs {
    margin:50px 0;
}

.list-blogs .blog-item .heading-title {
    text-align: left;
}

.list-blogs .blog-item .heading-title .bt-solid {
    width: 100px;
    margin-left: 0;
}

.list-blogs .blog-item .related-post {
    margin:20px 0;
}

.list-blogs .blog-item .related-post a {
    overflow: hidden;
}

.list-blogs .blog-item .related-post img{
    max-width: 360px;
}

.list-blogs .blog-item .related-post p{
    margin: 10px 0;
}

.list-blogs .blog-item .related-post .posts-title{
    color: #434343;
    margin: 10px 0;
}

.list-blogs .blog-item .related-post .posts-title:hover{
    color: #f2b111;
}

.related-post iframe{
    border: 0;
}

.btn-view-more {
    display: inline-block;
    padding: 5px 10px 8px;
    background-color: #434343;
    border-radius: 8px;
    color: #f2b111;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; /* Firefox 4 */
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -o-transition: all 0.5s ease; /* Opera */
    -ms-transition: all 0.5s ease; /* Explorer 10 */
}

.btn-view-more:hover{
    background-color: #f2b111;
    color: #434343;
}


/*Footer custom*/

.prefooter-list{
    background-color: #ECC777;
    padding: 20px 0;
    
}

.prefooter-list .profooter-blue-text{
    font-size: 16px;
    font-weight: 700;
    color: #181F49;
    text-transform: uppercase;
}

.prefooter-list .profooter-info-text{
    font-size: 26px;
    color: #181f49;
    font-weight: 700;
    text-transform: uppercase;
}

.prefooter-list .row{
    display: -webkit-flex;
    display: flex;
}

.prefooter-list .profooter-white-text{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.prefooter-list form input{
    background-color: #fff !important;
}

.prefooter-list .prefooter-item{
    border-right: 1px solid;
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.prefooter-list .prefooter-item:first-child{
    padding-left: 10px;
}

.prefooter-list .prefooter-item:last-child{
    border:none;
}

.prefooter-list .prefooter-item .prefooter-item-spacing{
    letter-spacing: 2px;
}

.prefooter-list .form-inline .input-group-addon{
    background-color: #f2b111;
    color: #fff;
    border-color: #f2b111;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Footer */

.footer-wrapper {
    padding: 50px 0;
    background: #181f49 url(../images/footer/banner-footer.png);
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;    
}

.footer-wrapper .footer-list .footer-item {
    color: #FFF;
}

.footer-wrapper .footer-list .footer-item .footer-title {
    color: #eacd7f;
    text-transform: uppercase;
}

.footer-wrapper .footer-list .footer-item p{
    margin: 15px 0;
    font-size: 16px;
}

.footer-wrapper .footer-list .footer-item ul>li>a {
    color: #FFF;
    padding: 5px 0;
    font-size: 16px;
    display: inline-block;
}

.footer-wrapper .footer-list .footer-item ul>li>a:hover{
    color: #CCC
}

.footer-copyright {
    padding: 12px 0;
    color: #FFF;
    text-align: center;
    background-color: #333;  
    font-size: 16px;
}

.footer-copyright p{
    margin: 0;
    line-height: 26px;
}

.footer-copyright a {
    color: #eacd7f;
}

.footer-copyright a:hover{
    color: #f2b111;
}

.back-to-top{
    display:none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    background-color: #FFF;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.2);
}

.back-to-top>i::before{
    color: #f2b111;
}

.back-to-top:hover {
    background-color: #f2b111;
}

.back-to-top:hover>i::before{
    color: #FFF;
}

.hot-lines {
    position: fixed;
    left: 20px;
    bottom: 20px;
    top: initial !important;
    list-style: none;
    background-color: #f2b111;
    border-radius: 50%;
    z-index: 99999;
    height: 60px;
    width: 60px;
    line-height: 60px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.2);
    font-size: 30px;
}

.hot-lines>i::before{
    color: #FFF;
}

.hot-lines>a{  
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
}

.hot-lines>a:hover{
    background-color: #FFF;
}

.hot-lines>a:hover i::before{
    color: #f2b111;
}

.frm-mail {
    margin: 15px 0;
}

input:not([type='checkbox']):not([type='radio']),textarea,select{
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #f2b111;
    border-radius: 12px;
    font-size: 15px;
    outline: none;
    height: 4rem;
    width: 100%;
}

textarea {
    height: auto;
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus{
    border-color: #f2b111;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #f2b111;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #f2b111;
}

.form-group.has-error input, .form-group.has-error textarea,.form-group.has-error select,
.form-group.has-error input:focus, .form-group.has-error textarea:focus,.form-group.has-error select:focus{
    border-color: #c23527;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #c23527;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #c23527;
}
/* custom checkbox, radio box */
/* The form-check */
.form-check {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #DDD; 
}

.form-checkbox .checkmark{
    border-radius: 3px;
}

.form-radio .checkmark{
    border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
.form-check:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.form-check input:checked ~ .checkmark {
    background-color: #337ab7;
    border:0;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.form-check input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.form-check.form-checkbox .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-check.form-radio .checkmark:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: white;
}

.search-box{
    margin-top:35px;
}

.searchform {
    position: relative;
}

.searchform .searchsubmit {
    height:4rem;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    border: none;
    background-color: transparent;    
}

.searchform .searchsubmit i::before{
    color:#f2b111;
}

.yellow-text{
    color:#f2b111;
}

.white-text{
    color:#fff;
}

.bold-text{
    font-weight: 700;
}

.btn-positive{
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #434343;
    text-align: center;
    transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out; /* Firefox 4 */
    -webkit-transition: background-color .2s ease-out; /* Safari and Chrome */
    -o-transition: background-color .2s ease-out; /* Opera */
    -ms-transition: background-color .2s ease-out; /* Explorer 10 */
    cursor: pointer;
    border:0;    
    border-radius: 5px;
}

.btn-positive:focus {
    outline: 0;
}

.btn-positive:hover{
    opacity: 0.8;
}

.btn-yellow{
    background-color: #f2b111;
}

.btn-orange{
    background-color:orange;
}

.btn-navy{
    background-color: #181F49;
}

/* style for quantity order */
.quantity {
    position: relative;   
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input[type='number'] {
    width: 100px;
    height: 42px;
    text-align: center;
    padding-right: 12px;
    border: 1px solid #f2b111;
    border-radius: 5px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    line-height: 21px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}

.quantity-button i{
    color: #f2b111;
    font-size: 10px;
}

.quantity-button:hover{
    background-color: #f2b111;
    
}

.quantity-button:hover i{
    color:#FFF;
}

.quantity-button.quantity-up {
    border-top-right-radius: 5px;
}

.quantity-button.quantity-down {
    border-bottom-right-radius: 5px
}

.order-product .btn-buynow{
    font-size: 18px;
    font-weight: 600;
}

.order-product .btn-buynow i{
    font-size: 18px;
    padding-right: 10px;
}
/* customs select 2 */

.select2-container--default .select2-selection--single {
    border-color: #f2b111;
    height: 4rem;
    border-radius: 12px;
    outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 4rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 4rem;
}

.has-error .select2-container--default .select2-selection--single{
    border-color: #c23527;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #c23527;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #c23527;
}

/* style login, register form */
.account h3{
    text-transform: uppercase;
}

.login-form{
    margin-bottom: 30px;
}

.btn-acc-group {
    text-align: center;
}

.btn-acc-group button{
    margin-right: 5px;
}

/* style contact page */
.map {
    width: 100%;
}

.contact-us {
    padding: 15px 0;
}

.contact-us h3{
    margin-top:0;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 450px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 450px;
    width: 100%;
}

.gmap_canvas>iframe{
    width:100%;
    border: 0;
    margin: 0;
    overflow: hidden;
}

@media only screen and (min-width: 992px){
    .blog-item .related-post>iframe{
        width: 100% !important;
    }
}

@media only screen and (max-width: 991px){
    
    .list-blogs .blog-item .related-post img{
        max-width: 100%;
    }

    .custom-owl-carousel .owl-nav .owl-prev{
        left: 15px;
    }

    .custom-owl-carousel .owl-nav .owl-next{
        right: 15px;
    }

    .list-blogs .blog-item{
        text-align: center;
    }
    .list-blogs .blog-item .heading-title {
        text-align: center;
    }

    .list-blogs .blog-item .heading-title .bt-solid{
        margin: auto;
    }

    .search-box {
        width: 50%;
        margin:15px auto;
    }

    .footer-wrapper .footer-list .footer-item img{
        width: 80%;
        margin: auto;
    }

    .footer-wrapper .footer-list .footer-item p{
        text-align: center;
    }    

    .acc-note {
        text-align: center;
    }

    .contact-us .address{
        margin: 30px 0;
    }

    .prefooter-list .prefooter-item{
        border-right: none;
        padding-left: 0px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 767px){
    .top-menu{
        text-align: center;
    }

    .search-box {
        width: 100%;
    }

    .prefooter-list 
    {
        text-align: center;
    }

    .footer-wrapper .footer-list .footer-item{
        margin-bottom: 30px;
        text-align: center;
    }

    .prefooter-list .prefooter-item{
        border: none;
        padding: 0 10px;
    }

    .prefooter-list .row{
        display: block;
    }

    .heading-title>h3{
        font-size: 17px;
    }

    .prefooter-list .prefooter-item{
        margin-bottom: 5px;
    }

    .prefooter-list .profooter-blue-text{
        font-size: 24px;
    }
}